*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.header {
  background-color: #1b3659 ;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}
.header-posts{
  display: flex;
  align-items: center;
}
.header-list ul {
  list-style: none;
  display: flex;
}

.header-list li {
  margin-right: 20px;
}

.header-posts i {
  margin: 15px;
  margin-right: 10px;
}

.login-button {
  background-color: white;
  color: #1b3659;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.search{
  text-align: center;
  margin-top: 8%;
}
.search h1{
  font-size: 45px;
  font-weight: 600;
}
.search-input input{
  width: 29%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 7px;
}
.search-input button{
  background-color: #1b3659;
  border: none;
  padding: 11px 20px;
  font-size: 20px;
  color: white;
  border-radius: 7px;
}
.session{
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
 background-color: rgba(227, 227, 227, 0.107);
 box-shadow: .3px 0.6px .8px rgba(128, 128, 128, 0.438);
}
.session_txt{
  text-align: center;
  padding: 10px;
  max-width: 430px;
  margin-top: 5%;
}
.session_txt h3{
  font-size: 30px;
  margin-bottom: 4%;
}
.session_txt p{
  font-size: 20px;
}
.session_txt button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 600;
  background-color: #1b3659;
  border-radius: 7px;
  color: white;
  margin-top: 4%;
}
.session img{
  width: 100%;
    height: auto;
}

.offer{
  margin-top: 7%;
  padding: 6px 40px 38px 40px;
  
}

.offer h1{
  margin-bottom: 40px;
  color: rgba(0, 13, 128, 0.719);
  text-align: center;
}
.offer_carousel{
  margin-left: 77px;
  border: 1px solid rgba(137, 43, 226, 0.285);
  box-shadow: 1px 1px 2px gray;
  padding: 20px;
  border-radius: 20px;
  max-width: 230px;
  max-height: 200px;
}
.offer_carousel:hover{
  background-color: #1b3659;
  color: white;
  cursor: pointer;
}
.offer_carousel_logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.offer_carousel_logo img{
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 1.5px 1px 0px gray;
}
.offer_carousel_logo p{
  color: rgba(0, 0, 0, 0.443);
  padding: 3px 7px;
  font-weight: 600;
  margin-top: -10px;
}
.offer_carousel_txt h3{
  margin-top: 10px;
}
.offer_carousel_txt p{
  margin-top: 2px;
}
.walking{
  margin-top: 5%;
  padding: 5px 40px 47px 40px;
  background-color: rgba(135, 207, 235, 0.436);
}
.walking h1{
  margin-bottom: 40px;
  color: rgba(0, 13, 128, 0.719);
  text-align: center;
}
.walking_carousel{
  margin-left: 77px;
  border: 1px solid rgba(137, 43, 226, 0.285);
  box-shadow: 1px 1px 2px gray;
  padding: 20px;
  border-radius: 20px;
  max-width: 230px;
  max-height: 200px;
}
.walking_carousel:hover{
  background-color: #1b3659;
  color: white;
  cursor: pointer;
}
.walking_carousel_logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.walking_carousel_logo img{
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 1.5px 1px 0px gray;
}
.walking_carousel_logo p{
  color: rgba(0, 0, 0, 0.443);
  padding: 3px 7px;
  font-weight: 600;
  margin-top: -10px;
}
.walking_carousel_txt h3{
  margin-top: 10px;
}
.walking_carousel_txt p{
  margin-top: 2px;
}
.stress{
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
  
}

.stress_txt{
  text-align: center;
  margin-top: 3%;
  max-width: 400px;
}
.stress_txt h2{
  font-size: 35px;
  margin-top: 4px 0;
}
.stress_txt button{
  font-size: 20px;
  padding: 14px 25px;
  background-color: #1b3659;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 4%;
}
.stress img{
  max-width: 450px;
  max-height: 450px;
}
.feature-txt{
  max-width: 600px;
  text-align: center;
  margin: 7% 0 5% 27%;
}
.feature-txt h2{
  text-align: center;
  font-size: 29px;
  font-weight: 600;
}
.data{
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: 7% 0;
}
.data-jobs{
  margin-left: -40%;
}
.data-jobs h2{
  text-align: start;
  margin-bottom: 4%;
}
.data-salaries h2{
  text-align: start;
  margin-bottom: 4%
}
.data-cities h2{
  margin-bottom: 4%
}
.data-companies h2{
  margin-bottom: 4%
}
.data-salaries{
  margin-right: -40%;
  
}
.footer-level1{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 10px 0 0 0;
  background-color: rgba(135, 207, 235, 0.473);
  padding: 20px ;
}
.footer-level1 p{
  color: rgba(128, 128, 128, 0.715);
}
.footer_tagline{
  margin-left: 25px;
}
.footer_tagline h1{
  color: #1b3659;
  margin-bottom: -5px;
}
.footer_follow i{
  padding: 7px;
  margin: 9px;
}
.fa-facebook{
  color: rgba(0, 0, 255, 0.61);
}
.fa-twitter{
  color: blue;
  
}
.twitter{
  margin-right: 15px;
}
.fa-instagram{
  color: rgb(217, 12, 162);
}
.footer_follow span{
  color: gray;
  
}
.footer_tagline button{
  padding: 10px 19px;
  background-color: #1b3659;
  color: white;
  border-radius: 6px;
  font-weight: 600;
}
.footer_level2{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  padding: 20px;
  background-color: black;
  color: white;

}
@media screen and (max-width: 700px){
  .header {
    flex-direction: column;
   
  }
  .header-list {
    display: none;
    flex-direction: column;
    
  }

  .header-list.open {
    display: block;
  }
  .header-list ul {
    flex-direction: column;
  }

  .header-list li {
    margin: 10px 0;
  }

  .header-posts {
    display: none;
  }

  .checkbtn {
    display: block;
    
    margin-left: 80%;
  }
  .logo{
    margin-top: -16%;
    
  }

  .login-button {
    margin-top: 20px;
  }

  .session{
    flex-direction: column;
  }
  .session img{
    width: 100%;
  }
  .stress{
    flex-direction: column-reverse;
  }
  .stress img{
    width: 100%;
    margin-top: 7%;
  }
  .chart_bar{
    flex-direction: column;
  }
  .feature{
    flex-direction: column;
  }
  .chart_bar_graph{
    width: 340px;
    height: 280px;
  }
  .footer-level1{
    flex-direction: column;
  }
  .data{
    flex-direction: column;
   
  }
  .data-companies h2{
    text-align: start;
    margin-top: 7%;
  }
  .data-cities h2{
    text-align: start;
    margin-top: 7%;
  }
  .data-jobs{
    margin-left: 0;
    margin-top: 7%;
  }
  .data-salaries{
    margin-top: 7%;
  }
  .feature-txt h2{
    margin-right: 35%;
  }
  .feature-txt p{
    margin-right: 30%;
  }
  .search h1{
    font-size: 35px;
  }
  .search-input input{
    width: 38%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 12px;
    margin: 5px;
  }
  .search-input button{
    background-color: #1b3659;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
  }
  .search a{
    font-size: 13px;
  }
  .search span{
    font-size: 13px;
  }
  .session_txt h3{
    font-size: 25px;
  }
  .session_txt p{
    font-size: 15px;
  }
  .session_txt button{
    padding: 7px 15px;
    font-size: 20px;
    font-weight: 500;
  }
  .offer_carousel{
    margin-left: 37px;
    padding: 9px;
    width: 180px;
    height: 160px;
  }
 .walking_carousel{
    margin-left: 37px;
    padding: 9px;
    width: 180px;
    height: 160px;
  }
  .stress_txt{
    text-align: center;
    max-width: 400px;
    margin: 5% 15px 0 15px;
  }
  .stress_txt h2{
    font-size: 28px;
    margin-top: 5px;
  }
  .stress_txt button{
    font-size: 18px;
    padding: 8px 16px;
  }
  .footer_company{
    margin-top: 6%;
  }
  .footer_help{
    margin-top: 6%; 
  }
  .footer_legal{
    margin-top: 6%; 
  }
  .footer_follow{
    margin-top: 6%; 
  }
}